<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	
    <context:component-scan base-package="next.db.controller" />
    <context:component-scan base-package="next.db.dao" />
    <context:component-scan base-package="next.db.framework.view" />
    <context:component-scan base-package="next.db.framework.controller" />
    
    
    <!-- <bean id="mongoClient" class="com.mongodb.mongoClient" destroy-method="close">
		<property name="host" value="10.73.45.72" />
		<property name="port" value="27017" />
	</bean> -->
	
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://10.73.45.134:3306/wildgoose_dev" />
		<property name="username" value="viewer" />
		<property name="url" value="jdbc:mysql://localhost:3306/wildgoose_dev" />
		<property name="username" value="root" />
		<property name="password" value="" />
		<property name="minIdle" value="3" />
		<property name="maxIdle" value="6" />
		<property name="maxOpenPreparedStatements" value="180" />

	</bean> -->
    
</beans>