<div class="post-card card">
	<div class="card-header">
		<h2 class="title"><%= title %></h2>
		<input type="text" class="blind" value="<%= title %>"/>

		<h4><%= author %></h4>
		<menu>
		<div class="modify" data-id="<%= id %>"></div>
		<button class="blind delete"  data-id="<%= id %>">삭제</button>
		<button class="blind cancel"  data-id="<%= id %>">취소</button>
		<button class="blind save" data-id="<%= id %>">저장</button>
		</menu>
	</div>
	<p class="content"><%= content %></p>
	<textarea  rows="5" class="blind"><%= content %></textarea>
</div>