@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);	
body, html {
		margin: 0;
		padding: 0;
		width : 100%;
		height: 100%;s
		background-color: rgb(238, 238, 238);
		font-family: 'Nanum Gothic', serif;	
	  -moz-user-select: none;
	  -webkit-user-select: none;
	  -ms-user-select: none;	
	  }
	  body {
		  	  background-size: cover;
		  	  background-image: url(/static/img/craft-tradition-hats-vietnam_82050_990x742.jpg);
	  }
	 .post-list {
		position: absolute;
		width: 100%;	 
		1text-align: center;
	 } 
	.card {
		margin: 20px;
		background-color: rgb(255, 255, 255);
		box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		overflow: hidden;
	}
    .post-card {
    	vertical-align: middle;
	  display: inline-block;
      opacity: 0;
      position: relative;
      background-color: white;
      padding: 20px;
      width: 300px;
      max-width: 800px;
      1font-size: .8rem;
      font-weight: 300;
      background-color: rgba(255,255,255,.7);
      transition: opacity .4s ease-out,box-shadow .2s ease-out;
		-webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.75);
    }
    .post-card:hover {
		-webkit-box-shadow: 0px 0px 30px 0px rgba(250, 250, 250, 0.45);
		-moz-box-shadow:    0px 0px 30px 0px rgba(250, 250, 250, 0.45);
		box-shadow:         0px 0px 30px 0px rgba(250, 250, 250, 0.45);
		1width: 800px;
    }
    .card-header {
    	position: relative;
      margin-bottom: 10px;
    }
    .card-header > h2
    , .card-header > h4
    , .card-header > p
     {
      margin: 0;
    }
    .card-header > menu {
	    position: absolute;
	    top: 0;
	    right: -5px;
	    margin: 0;
    }
    .card-header > menu > button{
		float: right;
		border:0;
	}
    .card-header > h2 {
      font-size: 1.4rem;
      font-weight: 300;
    }
    .card-header > h4 {
      font-size: 1.0rem;
      font-weight: 300;
      color: gray;
    }

    p {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    
      font-size: .8rem;
      font-weight: 300;
    }

input[type="text"] {
  1display: block;
  
      font-size: 1.4rem;
      font-weight: 300;
      background-color: rgba(255,255,255,0);
      
  margin: 0;
  width: 100%;
font-family: 'Nanum Gothic', serif;  
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.8);
}
textarea {
      background-color: rgba(255,255,255,0);

  display: block;
  margin: 0;
font-family: 'Nanum Gothic', serif;

  width: 100%;

      font-size: .8rem;
      font-weight: 300;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
textarea:focus {
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,.8);

}
.blind {
	display: none;
}
.nav {
	position: fixed;
	bottom:30;
	right: 30;
}
.nav > div:hover {
	opacity: .6;	
}
.nav > div:active {
	opacity: .8;	
}

.nav > div {
	opacity: .4;
	display: inline-block;
	width: 60px;
	height: 60px;
	background-size: cover;	color: white;
	margin: 0 10px;
}
.nav > div.next {
	background-image: url(/static/img/next_w.png);
}
.nav > div.prev {
	background-image: url(/static/img/prev_w.png);
}
.nav > div.plus {
	background-image: url(/static/img/plus.png);
}
#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    1background: #FFF;
    background-size: cover !important;
}
#shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(36%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 36%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.modify {
	opacity: .3;
	background-image: url(/static/img/menu.png);
	width: 24px;
	height: 24px;
	background-size: cover;
	transition: opacity .3s ease;
}
.modify:hover {
	opacity: .8;
}
#curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(10,10,10,.5);
}